body {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-image: url("../images/BG.jpg");
    z-index: -2;
    overflow-x: hidden;
    
  }

  .homeDIV{
    text-align: center;
  }

  .img{
    animation: bots infinite ease-in-out 4s;
  }

  .img #bot{
    width: 500px;
    height: 500px;
  }

  .homeDIV a{
      margin: 0 3rem;
  }

  .homeBtn{
      padding: 3rem 5rem ;
  }
  
  .navbar{
      display: flex;
      justify-content: center;
      color: white;
      backdrop-filter: blur(20px);
      border: solid 2px transparent;
      background-clip: padding-box;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 1;
      position: relative;
      height: 753px;
      width: auto;
  }
  
  .navbar-brand{
      color: rgba(255, 255, 255, 0.733);
      display: flex;
      align-self: flex-start;
      justify-self: flex-start ;
      position: absolute;
      left: 7px;
      top: 10px;
      z-index: 2;
      
  }
  
  #main #navbar #left-nav button{
      margin: 1.5rem 0;
      position: relative;
      color: white;
      backdrop-filter: blur(20px);
      border: solid 2px transparent;
      background-clip: padding-box;
      background-color: rgba(255, 255, 255, 0);
      z-index: 1;
  }
  
  #main #navbar #left-nav a{
      text-decoration: none;
  }
  
  #main #navbar .navbar-brand .brand{
      border-radius: 25%;
      width: 3rem;
      height:3rem;
      display: flex;
      align-self: flex-start;
      justify-self: flex-start ;
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 2;
  
  }
  
  #main .heading{
      color: white;
      position: relative;
      top: 3rem;
      backdrop-filter: blur(20px);
      border: solid 2px transparent;
      background-clip: padding-box;
      box-shadow: 10px 10px 10px rgba(48, 42, 42, 0.356);
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 3em;
      z-index: 1;
      margin-bottom: 6rem;
  }
  
  #main h1{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      padding: 1rem 10rem;
  }
  
  #rate-label, 
  #pitch-label{
      color: white;
  }
  
  #text-input{
      padding: 10px;
  }
  
  #main .logo{
      border-radius: 25%;
      width: 6rem;
      height: 6rem;
      
  }
  
  #submit{
      color: white;
      backdrop-filter: blur(20px);
      border: solid 2px transparent;
      background-clip: padding-box;
      box-shadow: 5px 5px 5px rgba(22, 21, 21, 0.356);
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 1;
      padding: 1rem;
  }

    .talkBtn{
        position: relative;
        top: 25rem;
        left: 60%;
        animation: recognizeBtn infinite ease-in-out 4s;
    }

    .talkBtn:hover{
        transform: scale(1.05);
        transition: 0.8s;
    }

    .talk{
        border-radius: 50%; 
        width: 13rem; 
        height: 13rem;
    }

    .content{
        color: white;
        position: relative;
        left: 45%;
        width: 50%;
    }

    #voiceBot{
        position: absolute;
        width: 30rem;
        height: 30rem;
        top: 15%;
        animation: bots infinite ease-in-out 4s;
    }
  
    @keyframes bots {
        50%{
            transform: translateY(50px);
        }
        50%{
            transition-delay: 5s;
            transform: translateY(-40px);
        }
    }

    @keyframes recognizeBtn {
        100%{
            transform: rotate(360deg);
            transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
        
    }

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }

    .img #bot{
        width: 400px;
        height: 400px;
    }

    .homeDIV {
        margin: 3rem 0;
    }

    .homeBtn{
        padding: 2rem ;
        margin: 1rem auto;

    }

    #main .heading{
        width: 75%;
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        border-radius: 2em;
    }

    #main h1{
        font-size:x-large;
        position: relative;
        left: 30%;
    }

    #main .logo{
        border-radius: 25%;
        width: 2rem;
        height: 2rem;
        margin: 0 1rem;
        
    }

    #voiceBot{
        width: 20rem;
        height: 20rem;
        left: 20%;
    }

    .talkBtn{
        top: 30rem;
        left: 25%;
    }

    .talk{
        border-radius: 50%; 
        width: 8rem; 
        height: 8rem;
    }

    .content{
        color: white;
        position: absolute;
        top: 60%;
        left:30% ;
        width: 50%;
    }

}
  